<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IP" value="127.0.0.1" />
    <add key="Port" value="9308" />
    <add key="GP_RATE" value="0" />
    <add key="TimeForLeague" value="19:30|21:30" />
    <add key="LeagueMoney_Lose" value="3" />
    <add key="LeagueMoney_Win" value="8" />
    <add key="Gold_Rate" value="0" />
    <add key="Gift_Rate" value="0" />
    <!-- Add Money -->
    <add key="MONEY_MIN_RATE_LOSE" value="15" />
    <add key="MONEY_MAX_RATE_LOSE" value="20" />
    <add key="MONEY_MIN_RATE_WIN" value="45" />
    <add key="MONEY_MAX_RATE_WIN" value="50" />
    <add key="EXP_MIN_RATE_LOSE" value="0" />
    <add key="EXP_MAX_RATE_LOSE" value="0" />
    <add key="EXP_MIN_RATE_WIN" value="100" />
    <add key="EXP_MAX_RATE_WIN" value="101" />
    <add key="IsSoloBattle" value="false" />
    <add key="datetime1" value="12:00:00" />
    <add key="datetime2" value="12:00:00" />
    <add key="datetime3" value="19:00:00" />
    <add key="datetime4" value="19:00:00" />
        <add key="goldentimestart" value="11:00:00|19:00:00" />
    <add key="goldentimeend" value="13:00:00|21:00:00" />
    <add key="GOLDEN_TIME_RATE" value="1"/>
    <!-- Everyday, H:i:s -->
    <add key="GOLDEN_TIME_BEGIN" value="01:00:00|15:00:00"/>
    <!-- Everyday, H:i:s -->
    <add key="GOLDEN_TIME_END" value="15:00:00|23:00:00"/>
    <!-- Everyday, H:i:s -->
    <add key="SUPER_GOLDEN_TIME_BEGIN" value="20:00:00"/>
    <!-- Everyday, H:i:s -->
    <add key="SUPER_GOLDEN_TIME_END" value="21:00:00"/>
    <!-- sunday = 0, saturday = 6 -->
    <add key="SUPER_GOLDEN_TIME_DATE_OF_WEEK" value="0|1|2|3|4|5|6"/>
    <add key="SUPER_GOLDEN_TIME_RATE" value="2"/>
    <!-- Separated = 1, Combined = 2 -->
    <add key="GOLDEN_TIME_COMBINE_MODE" value="2"/>
    <add key="DoubleEvent" value="false" />
    <add key="Logconfig" value="logconfig.xml" />
    <add key="LanguagePath" value="Languages\Language-vn.txt" />
    <add key="conString" value="Data Source=PCLOC;Initial Catalog=Db_Tank41;Persist Security Info=True;User ID=sa;Password=vanlocAdmin@" />
    <add key="crosszoneString" value="Data Source=PCLOC;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=vanlocAdmin@" />
    <add key="ServerID" value="4" />
    <add key="GameType" value="1" />
    <add key="AreaID" value="1001" />
    <add key="LogPath" value="RecordLog" />
    <add key="ScriptCompilationTarget" value=".\GameServerScripts.dll" />
    <add key="ScriptAssemblies" value="Game.Base.dll,Game.Logic.dll,SqlDataProvider.dll,Bussiness.dll,System.Drawing.dll" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Lsj.Util" publicKeyToken="0f183bc795c57a20" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>